.photo {
    padding-top: 88px;
    padding-bottom: 100px;
    background: var(--bg-other-main)
}

.photo__word {
    color: var(--red)
}

.photo__empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 6px;
    border: 1px dashed var(--blue);
    cursor: pointer;
    height: 100%
}

.photo__card {
    height: 270px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px
}

.photo__card_add {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
    -o-object-position: center;
    object-position: center
}

.photo__card_delete {
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    right: 25px;
    top: 10px;
    background: var(--white);
    cursor: pointer
}

.photo__card_icon {
    width: 13px;
    height: 13px;
    fill: var(--red)
}

.photo__row {
    margin-bottom: 70px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
}

.photo__icon {
    width: 70px;
    height: 59px;
    fill: var(--reason-input-circle)
}

.photo__load {
    height: 100%;
    width: calc(100% - 20px);
    padding-top: 60px;
    border: 1px dashed var(--blue);
    display: block;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    background: var(--white)
}

.photo__load_text {
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: var(--blue);
    margin-bottom: 23px
}

.photo__load_line {
    width: 50%;
    height: 5px;
    background: var(--loading-bg);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    margin: 0 auto
}

.photo__load_progress {
    width: 0%;
    height: 5px;
    border-radius: 2px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background: var(--blue);
    position: absolute;
    top: 0;
    left: 0
}

.photo__add {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border: 2px solid var(--purple);
    border-radius: 6px
}

.photo__icon {
    width: 70px;
    height: 59px;
    fill: var(--reason-input-circle);
}

.photo__more {
    color: var(--purple);
    font-family: var(--f400-lato);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px
}

.photo__modal {
    width: 90%;
    border: 2px solid var(--blue);
    -webkit-box-shadow: var(--btn-shadow);
    box-shadow: var(--btn-shadow);
    border-radius: 6px;
    padding: 30px;
    position: fixed;
    background: var(--white);
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 2
}

.photo__modal:target {
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    pointer-events: auto;

}

.photo__modal.active {
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1)
}

.photo__table {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(163px, 1fr))
}

.photo__table_item {
    max-width: 270px;
    height: 163px;
    cursor: pointer;
    position: relative
}

.photo__table_img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.photo__modal_text {
    position: relative;
    margin-bottom: 40px
}

.photo__modal_close {
    fill: var(--black);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    cursor: pointer
}

.photo__modal_title {
    font-family: var(--f700-roboto);
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: var(--black);
    text-align: center
}

.photo__table_choose {
    width: 35px;
    height: 35px;
    background: var(--white);
    /* display: none; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 10px
}

.photo__table_img.active+.photo__table_choose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.photo__table_icon {
    width: 13px;
    height: 13px;
    fill: var(--blue)
}

.photo__btn {
    margin-bottom: 0
}

.row__title {
    position: relative;
    margin-bottom: 53px
}




.btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.btn {
    width: 100%;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 20px;
    font-family: var(--f700-nexa);
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase
}

.btn__back {
    border: 2px solid var(--purple);
    color: var(--purple)
}

.btn__back:hover {
    -webkit-box-shadow: var(--btn-shadow);
    box-shadow: var(--btn-shadow);
    color: var(--purple)
}

.btn__continue {
    background: var(--blue);
    color: var(--white);
    position: relative;
}

.btn__continue:hover {
    color: var(--white);
    -webkit-box-shadow: var(--btn-shadow);
    box-shadow: var(--btn-shadow)
}

.btn__small_screen {
    width: 30px;
    position: absolute;
    top: 3px;
    left: 0;
    display: none
}

.btn__icon {
    width: 12px;
    height: 20px;
    fill: var(--blue)
}

.button:disabled {
    background: var(--light-purple);
    pointer-events: auto;
    opacity: 1;
}

.button:disabled:hover {
    color: var(--white);
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

/* 
.btn__big_screen {
    display: none
} */