.items {
    padding-top: 96px;
    padding-bottom: 100px;
    background: var(--bg-other-main)
}

/* .items__content {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 30px
} */

.items__left {
    grid-column: 1 / span 2;
    height: 100%
}

.items__left_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;

}

.items__right {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    grid-column: 3/ span 1;
    border-radius: 6px;
    background: var(--reason-input-border);
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px
}

.items__right_title {
    /* font-family: var(--f700-comfortaa); */
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: var(--blue);
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1
}

.items__carousel {
    margin-bottom: 24px;
    padding-top: 50px
}

.items__carousel_indicators {
    top: 5px;
    right: 30px;
    left: auto;
    bottom: auto;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0
}

.items__carousel_indicators [data-bs-target].active {
    background: var(--purple)
}

.items__carousel_indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-top: none;
    border-bottom: none;
    border: 2px solid var(--purple);
    background: transparent;
    opacity: 1
}

.items__right_wrapper {
    padding-left: 30px;
    padding-right: 30px
}

.items__right_btn {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: var(--purple);
    font-family: var(--f700-nexa);
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    border: 2px solid var(--purple);
    border-radius: 6px;
    background: transparent;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s
}

.items__right_btn:hover {
    background: var(--purple);
    color: var(--white)
}

.carousel__card {
    width: 50%
}

.carousel__card:first-child {
    margin-right: 30px
}

.carousel__card .card__pic {
    background: var(--white);
    border-radius: 6px;
    max-width: 100%;
    min-height: 180px;
    margin-right: 0;
    margin-bottom: 19px;
    padding: 20px
}

.carousel__card .card__title {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 6px
}

.btn__small_screen {
    display: inline-block
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    border: 3px solid transparent;
    padding: 30px 30px 40px 30px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    background: var(--white)
}

.card__target {
    width: 30px;
    height: 30px;
    background: var(--blue);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 6px;
    position: absolute;
    top: 0px;
    left: 5px;
    /* display: none */
}

.card.active .card__target {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.card.active {
    border: 3px solid var(--blue)
}

.card__icon {
    fill: var(--white);
    width: 17px;
    height: 13px
}

.card__pic {
    max-width: 140px;
    width: 100%;
    height: 140px;
    margin-right: 20px
}

.card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.card__info {
    padding-top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.card__title {
    /* font-family: var(--f700-comfortaa); */
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--blue);
    margin-bottom: 8px
}

.card__br {
    display: block
}

.card__new_price {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: var(--blue)
}

.card__old_price {
    font-family: var(--f400-lato);
    font-weight: 400;
    color: var(--purple);
    font-size: 16px;
    line-height: 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative
}

.card__old_price::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--purple);
    top: 60%;
    left: 0
}

.carousel__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px
}